#tecnicos-raiz {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tecnicos-main {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 85vh;
    justify-content: center; /* Centraliza as divs */
}

.tecnico {
    border-radius: 10px;
    background-color: bisque;
    margin: 5px;
    padding: 10px;
    width: 30%;
    box-sizing: border-box;
}

@media (max-width: 1408px) {
    .tecnico {
        width: 98%; 
    }
}
